<!--
  Generated template for the ContractorDetailPage page.
  
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{ 'Architect Points Detail' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="cs-list">
    <div class="top-block">
      <p>{{conDetail.dealer_name}}</p>
    </div>
    <div class="middle-block">
      <div class="three-block">
        <p>{{'Date' | translate}} : <strong>{{conDetail.date_created |  date:'d MMMM y'}}</strong></p>
        <p>{{'Status' | translate}} : <strong class="{{conDetail.status}}">{{conDetail.status}}</strong> </p>
      </div>
    </div>
    <div class="top-block footer-block">
      <p>{{'Points Earned' | translate}}: <strong style="font-size: 14px; color: #2e5ea2;">{{conDetail.points}}</strong></p>
    </div>
  </div>
  
  <ng-container *ngIf="productData.length">
    <h2>{{'Items Detail' | translate}}</h2>
    
    <ion-item  *ngFor="let row of productData; let i = index">
      <p><strong>{{'Brand Name' | translate}}:</strong> {{row.product_point_group}}</p>
      <p><strong>{{'Product Detail' | translate}}:</strong> {{row.product_detail}}</p>
      <!-- <p><strong>{{'Size' | translate}}:</strong>  {{row.length}} * {{row.width}}</p> -->
      <p><strong>{{'Quantity' | translate}}:</strong>  {{row.qty}}</p>
      <p><strong>{{'Total Points' | translate}}:</strong>  {{row.total_point}}</p>
    </ion-item>
  </ng-container>
  
  <ng-container *ngIf="conDetail.image != ''">
    <h2>{{'Bill Image' | translate}}</h2>
    <div class="pr16 pl16">
      <div class="bill_img">
        <img src="{{upload_url + conDetail.image}}">
      </div>
    </div>
  </ng-container>
  
</ion-content>
