<!--
  Generated template for the ContractorAddPage page.
  
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{ 'Add New' | translate }} </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="main-field padding16">
    <!-- <h3>{{ 'Basic information' | translate}} </h3> -->
    <div class="cs-form mb10">
      <form  (ngSubmit)="f.form.valid && submit() " #f="ngForm" >
        <ion-list>
          <ion-item class="cs-input" [ngClass]="{'error':f.submitted && type?.invalid}">
            <ion-label floating>{{'Select Request Type' | translate}}<span>*</span></ion-label>
            <ion-select name="type"  [(ngModel)]="conData.type"  #type="ngModel" required>
              <ion-option value="manual">{{"Manual Enter" | translate}} </ion-option>
              <ion-option value="image">{{"Bill Attached " | translate}} </ion-option>
            </ion-select>
          </ion-item>
          <div *ngIf="f.submitted && type.invalid" class="invalid-feedback">
            <div *ngIf="type.errors.required">{{'Field is Required' | translate}}</div>
          </div>
          
        </ion-list>
        
        
        <ion-list *ngIf="conData.type == 'manual' || conData.type == 'image'">
          
          <ion-item class="cs-input mt0" [ngClass]="{'error':f.submitted && dealer_name?.invalid}">
            <ion-label floating>{{ 'Dealer Detail' | translate }} <span>*</span></ion-label>
            <ion-input type="text" name="dealer_name" #dealer_name="ngModel" [(ngModel)]="conData.dealer_name" required></ion-input>
          </ion-item>
          <div *ngIf="f.submitted && dealer_name.invalid" class="invalid-feedback">
            <div *ngIf="dealer_name.errors.required">{{'Field is Required' | translate}}</div>
          </div>
        </ion-list>
        
        
        
        <div class="sprate-block" *ngIf="conData.type == 'manual' ">
          <ion-list>
            <ion-item class="cs-input">
              <ion-label floating>{{'Brand Name' | translate}}</ion-label>
              <ion-select name="product_point_group"  [(ngModel)]="conData1.product_point_group"  #product_point_group="ngModel">
                <ion-option  *ngFor="let val of product_code" value={{val.product_point_group}}  (ionSelect)="getpoint(val.retailer_point)" >{{val.product_point_group}} ({{val.retailer_point}} PT Per Product)</ion-option>
              </ion-select>
            </ion-item>
            
            <ion-item class="cs-input" >
              <ion-label floating>{{'Product Detail' | translate}}</ion-label>
              <ion-input   [(ngModel)]="conData1.product_detail" name="product_detail" #product_detail="ngModel"></ion-input>
            </ion-item>
            
            <ion-item class="cs-input" >
              <ion-label floating>{{'Quantity' | translate}}</ion-label>
              <ion-input type="tel"   [(ngModel)]="conData1.qty" name="qty" #qty="ngModel" autocomplete="off" autocorrect="off"  min="0" maxlength="3" minlength="3" (ngModelChange)="totalPoint($event)"></ion-input>
            </ion-item>
            
            
            <ion-item class="cs-input" >
              <ion-label floating>{{'Total Point' | translate}}</ion-label>
              <ion-input type="tel"   [(ngModel)]="conData1.totalPoint" name="totalPoint" #qty="ngModel" autocomplete="off" autocorrect="off"   readonly></ion-input>
            </ion-item>
              <button type="text"  ion-button full color="secondary"  [disabled]="!conData1.product_point_group || !conData1.product_detail || !conData1.qty || !conData1.totalPoint " (click)="addItem()" >{{'Add To List' | translate}}</button>
            </ion-list>
            
            
            <div class="card-list">
              <div class="card-item" *ngFor="let row of contractorData; let i = index">
                <div class="data-content">
                  <p><strong>Brand Name: </strong> {{row.product_point_group}}</p>
                  <p><strong>Product: </strong> {{row.product_detail}}</p>
                  <div class="item-flex">
                    <p><strong>Quantity: </strong> {{row.qty}}</p>
                    <p><strong>Point Request: </strong> {{row.totalPoint}}</p>
                  </div>
                </div>
                <div class="data-action">
                  <a ion-fab mini color="danger" (click)="deleteItem(i)"><ion-icon name="trash"></ion-icon></a>
                </div>
              </div>
              
            </div>
            
          </div>
          
          <div class="sprate-block" *ngIf="conData.type == 'image' ">
            <div class="upload-document" (click)="onUploadChange()" >
              <p *ngIf="conData.image=='' || conData.image== undefined"><i class="material-icons">add_circle</i><br>{{ 'Upload Bill' | translate}}</p>
              <img *ngIf="conData.image != ''"[src]="conData.image" alt="">
            </div>
            
          </div>
          <div class="pt32 pb16">
            <button [disabled]="saveFlag" ion-button full>{{ 'Save' | translate }}</button>
          </div>
        </form>
        
        
        
      </div>
    </div>
  </ion-content>
  